<a href="https://colab.research.google.com/github/arockingvirus/sudoku-solver/blob/main/Multi_Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df= pd.read_csv('/content/Melbourne_housing_FULL.csv')
df.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
df.shape

(34857, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [ ]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [ ]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
df = df[['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Distance',  'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea' , 'CouncilArea',  'Regionname', 'Propertycount','Price']]

In [ ]:
df.head()

       Suburb  Rooms Type  ...             Regionname Propertycount      Price
0  Abbotsford      2    h  ...  Northern Metropolitan        4019.0        NaN
1  Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1480000.0
2  Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1035000.0
3  Abbotsford      3    u  ...  Northern Metropolitan        4019.0        NaN
4  Abbotsford      3    h  ...  Northern Metropolitan        4019.0  1465000.0

[5 rows x 15 columns]

In [ ]:
df.shape

(34857, 15)

In [ ]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
Price             7610
dtype: int64

In [ ]:
df[['Distance','Bedroom2','Bathroom','Car','Propertycount']]=df[['Distance','Bedroom2','Bathroom','Car','Propertycount']].fillna(0)

In [ ]:
df['Landsize']=df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea']).mean()

In [ ]:
df.isnull().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
Price            7610
dtype: int64

In [ ]:
df=df.dropna() #to drop null elemnets
df

           Suburb  Rooms Type  ...             Regionname Propertycount      Price
1      Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1480000.0
2      Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1035000.0
4      Abbotsford      3    h  ...  Northern Metropolitan        4019.0  1465000.0
5      Abbotsford      3    h  ...  Northern Metropolitan        4019.0   850000.0
6      Abbotsford      4    h  ...  Northern Metropolitan        4019.0  1600000.0
...           ...    ...  ...  ...                    ...           ...        ...
34852  Yarraville      4    h  ...   Western Metropolitan        6543.0  1480000.0
34853  Yarraville      2    h  ...   Western Metropolitan        6543.0   888000.0
34854  Yarraville      2    t  ...   Western Metropolitan        6543.0   705000.0
34855  Yarraville      3    h  ...   Western Metropolitan        6543.0  1140000.0
34856  Yarraville      2    h  ...   Western Metropolitan        6543.0  1020000.0

[27244 rows x 15 columns]

In [ ]:
df.isnull().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
Price            0
dtype: int64

In [ ]:
df=pd.get_dummies(df,drop_first= True)
df

       Rooms  ...  Regionname_Western Victoria
1          2  ...                            0
2          2  ...                            0
4          3  ...                            0
5          3  ...                            0
6          4  ...                            0
...      ...  ...                          ...
34852      4  ...                            0
34853      2  ...                            0
34854      2  ...                            0
34855      3  ...                            0
34856      2  ...                            0

[27244 rows x 745 columns]

In [ ]:
#Taking input and output
x=df.drop('Price',axis=1)
y=df['Price']

In [ ]:
#Spiliting of data into training and testing

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

In [ ]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred=y_pred

In [ ]:
model.score(x_train,y_train)

0.6797750774893128

In [ ]:
model.score(y_pred,y_test)

ValueError: ignored